{% extends 'base.html' %}
{% load static %}

{% block title %}
  View Receipt - {{ data.scholar_id }}
{% endblock %}

{% block main %}
  <div class="w-full">
    <header class=" py-5 sm:py-5 flex flex-col justify-center ps-10 items-center bg-cover bg-center bg-no-repeat" style="background-image: url('{% static 'applicant/images/header.png' %}');">
      <img src="{% static 'icon.png' %}" class="w-24 pb-3" alt="" />
      <div class="flex flex-col justify-center items-center">
        <p class="text-lg sm:text-3xl md:text-5xl text-amber-50 font-bold drop-shadow-lg">Successful Registration</p>
        <span class="text-white pt-4">Please Save this as your Reference</span>
      </div>
    </header>
    <main class="w-full px-0 md:px-[15%] pt-10 text-2xl flex flex-col gap-5">
     
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Name:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }} {{ data.ext_name }}</p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Email:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.email }}</p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Contact No:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.contact }}</p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">4Ps Beneficiary:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">
          {% if is_four %}
            Yes
          {% else %}
            No
          {% endif %}
        </p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Grade:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.grade }}</p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">School:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.school }}</p>
      </div>
         
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Guardian Name:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.guardian_first_name }} {{ data.guardian_middle_name }} {{ data.guardian_last_name }} {{ data.guardian_ext_name }}</p>
      </div>
      <div class="flex justify-around flex-col md:flex-row">
        <p class="font-bold text-center md:text-start w-full md:w-1/2">Address:</p> <p class="text-center pb-5 md:pb-0 md:text-end w-full md:w-1/2">{{ data.full_address }}</p>
      </div>
      <div class="w-full h-[2px] bg-green-500 rounded-4xl"></div>
     <a href="https://labocamnorte.site/" class="text-center block  text-lg font-semibold text-green-600 hover:text-green-800 mt-3">
      Visit the Official Site of Labo Camarines Norte
    
    </main>
     <div class="pb-5 mt-10 pt-5">
        <p class="text-stone-400 text-sm text-center">© 2025 Municipal of Labo - All Rights Reserved.</p>
    </div>
  </div>
{% endblock %}
